.newsletter
{
    width:100%;
    height:300px;
    display: flex;
}
.newsletter_content
{
  
  width:65%;
}
.newsletter_image{
 
 width:35%;
 
 /* padding-left: 15%; */
}
.n_image{
background-image: url('n_letter.jpg');
background-repeat: no-repeat;
 background-size:contain;
 width:100%;
 height:100%;
}
.newsletter_content
{
padding-left: 10%;
background-color: #e4f5fb;
}
.newsletter_image
{
background-color: #e4f5fb;

}
.newsletter_heading
{
    font-size:35px;
    padding-top: 15px;
    
}
.newsletter_from{
    margin-top:30px;
}
.newsletter_description
{
 font-size:15px;
 color:rgba(0, 0, 0, 0.534);
}
.bold_content
{
    font-weight: 600;
}
.nletter_input
{
    height:40px;
    width:300px;
    font-size:15px;
    border-radius:10px;
    border:1px solid rgb(125, 228, 125);

}
.nletter_input:focus{
    outline:none;
}
.nletter_btn
{
    color:white;
    height:40px;
    width:150px;
     font-size:15px;
    border-radius:10px;
    background-color: rgb(125, 228, 125);
    font-weight: 600;
    border:none;

}
.nletter_btn:hover{
    color:rgb(125, 228, 125);
    background-color:white;
    border:1px solid rgb(125, 228, 125);
}