.notify{
    min-height: 500px;
    width:100%;
    background-color:rgb(157, 241, 157);
}
.notifyHead
{
    font-size: 30px;
    padding-left:12%;
}
.b_notify{
    font-weight:800;
    color:white;
}

.notify_info{
    margin-left: 12%;
    width:80%;

}
.notify_info_head
{
    font-size: 20px;
    font-weight: 400;
}
.notify_buy_sell
{
    width:400px;
}
.n_buy
{
    font-size:20px;
    height:50px;
}
.n_sell
{
    font-size:20px;
    height:50px;
    border:1px solid black;
}

.label_buy
{
    font-size:25px;
}
.sign{
font-size:30px;
}
.label_input{
    font-size:25px;

}
.notifyButton
{
    width:150px;
    height:40px;
    font-size:20px;
    border-radius:20px ;
    border:1px solid green;
    background-color:white;
    color:green;
    font-weight: 500;
}

.notifyButton:hover{
    background-color:green;
     border:1px solid white;
     color:white;
     
}

@media only screen and (max-width: 500px) {
  .notifyHead
  {
      font-size: 20px;
  }
  .notify_buy_sell
  {
    width:300px;
  }
  .label_input
  {
      width:220px;
      font-size:15px;
  }

}
@media only screen and (max-width: 350px) {
  .notifyHead
  {
      font-size: 18px;
      
    padding-left:5%;
  }
  .notify_buy_sell
  {
    width:250px;
  }
  .label_input
  {
      width:180px;
      font-size:13px;
  }
  .notify_info{
    margin-left: 5%;
    width:80%;

}
}