.UserPageContainer {
    padding-top: 7rem;
}

.Name {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.Name .UserName{
    text-align: center;
    padding-top: 1rem;
    color: #222;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.UserMenu{
    list-style: none;
    display: flex;
    justify-content: space-around;  
    padding: 0.5rem 0.2rem;  
}
.UserMenu .Link{
    color: #333;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.4px;  
    border-radius: 7px;
    background-color: #9dd7f8;
    padding: 0.7rem;
    transition: all 0.2s ease-in-out;
    border: 1px solid #62879c;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.308);
}
.UserMenu .Link:hover{
    background-color: #57b9f1;
    box-shadow: none;
}   

.MainTitle{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.UserDetail{
    padding-top: 1rem;
    padding-bottom: 5rem;
}
.UserDetailSection{
    background-color: #eee;
}
.UserDetailSection .MainTitle{
    content: "";
    width: 90%;
    margin: auto;
    display: block;
    padding-top: 1rem;
    border-bottom: 2px solid black;
}
.UserDetail .Title{
    width: 30%;
    min-width: 15rem;
}
.UserDetail .value{
    font-size: 1.6rem;
    margin: 5px;
}

.UserDetail table tr{
    border-bottom: 1px solid #999;
}
