@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html{font-size: 62.5%;}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.red{color: red;}
.green{color:green}
.imglogo
{
    width: 10%;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.home
{
    background-color: rgb(224, 224, 183);
    height: 100%;
}
.nav{
    box-shadow: 0px 5px 10px 0px #d1c9c9;
    background-color: black;  
    color: rgb(247, 241, 241);
    position: fixed;
    width: 100%;
}
.nav-container{
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 40%;
} 
.nav-container li{
    list-style: none;
    font-size: 1.8rem;
    margin-left: 1.5rem;
}
.nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.nav a:hover{
    
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.main-container{
    margin-top: 20px;
    width: 96%;
    margin-left: 15px;
}
.firstrow{
    background-color: rgb(200, 204, 204);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 5px;
    color: #4b4949;
}
.firstrow a:hover
{
    color: black;
    font-weight: 800;
    cursor: pointer;
    
}
.allrow{
    background-color: rgb(219, 235, 235);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    height: 60px;
    font-size: 15px;
    margin-bottom: 2px;
}
.allrow li
{
    padding: auto;
}

/* crypto main container */

.crypto{
  width:80%;
  margin-left: 10%;
}

/* coin logo */

.coinLogo
{
    height:25px;
    width:25px;
}

/* cryptoData */

.cryptoData{
    font-size: 20px;
    font-weight: 400;
}

/* table head */

.tableHead
{
    background-color: rgb(170, 255, 170);
}

/* title head */

.headTitle
{
    font-size: 15px;
    font-weight: 200;
    color:rgba(90, 90, 90, 0.637);
}
/* on hover */

.tableRow:hover{
    border:2px solid green;
    background-color:rgba(143, 224, 143, 0.637);
}


.timebtn{
    background-color:white;
    height:30px;
    width:80px;
    color:Black;
}
.chooseOption{
    margin-top: 70px;
    margin-left: 10%;
    font-size: 15px;
}
#day{
    background-color:green;
    color: white;
}
.increase{
    color:green;
}
.decrease{
    color:red;
}


