@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html{font-size: 62.5%;}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.home
{
    background-color: rgb(224, 224, 183);
    height: 100%;
}
.nav{
    box-shadow: 0px 5px 10px 0px #d1c9c9;
    background-color: black;  
    color: rgb(247, 241, 241);
}
.nav-container{
    display: flex;
    height: 7rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 40%;
} 
.nav-container li{
    list-style: none;
    font-size: 1.8rem;
    margin-left: 1.5rem;
}
.nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.nav a:hover{
    
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.main-container{
    margin-top: 20px;
    width: 96%;
    margin-left: 15px;
}
.firstrow{
    background-color: rgb(200, 204, 204);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    height: 35px;
    font-size: 15px;
    margin-bottom: 5px;
    color: #4b4949;
}
.firstrow a:hover
{
    color: black;
    font-weight: 800;
    cursor: pointer;
    
}
.allrow{
    background-color: rgb(219, 235, 235);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    height: 60px;
    font-size: 15px;
    margin-bottom: 2px;
}

